%meta{charset: "UTF-8"}/
%title Dronov.net
%meta{content: "NPTV", property: "og:title"}/
%link{href: "/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}/
%meta{content: "By Mikhail Dronov", name: "description"}/
%meta{content: "Blog and other", property: "og:description"}/
= stylesheet_link_tag "application", media: "all"
= render partial: "layouts/web/shared/metrics"
= javascript_include_tag "application"
