#logo
  #logo_text
    / class="logo_colour", allows you to change the colour of the text
    %h1
      %a{:href => "index.html"}
        CSS3
        %span.logo_colour _orange_sky
    %h2 Simple. Contemporary. Website Template.
%nav
  #menu_container
    %ul#nav.sf-menu
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => "examples.html"} Examples
      %li
        %a{:href => "page.html"} A Page
      %li
        %a{:href => "another_page.html"} Another Page
      %li
        %a{:href => "#"} Example Drop Down
        %ul
          %li
            %a{:href => "#"} Drop Down One
          %li
            %a{:href => "#"} Drop Down Two
            %ul
              %li
                %a{:href => "#"} Sub Drop Down One
              %li
                %a{:href => "#"} Sub Drop Down Two
              %li
                %a{:href => "#"} Sub Drop Down Three
              %li
                %a{:href => "#"} Sub Drop Down Four
              %li
                %a{:href => "#"} Sub Drop Down Five
          %li
            %a{:href => "#"} Drop Down Three
          %li
            %a{:href => "#"} Drop Down Four
          %li
            %a{:href => "#"} Drop Down Five
      %li
        %a{:href => "contact.php"} Contact Us
